@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
    font-family: 'Roboto';
    text-align: center; 
    /* background: linear-gradient(115deg, rgb(200, 255, 98) -20%, rgb(255, 226, 96) 50%); */
    margin: 0;
}

.header {
    max-width: 750px;
    margin: 20px auto;
    font-weight:700;
    font-size: 24px;
}

.shadow_item, .cap_item, .start_item{
    max-width: 750px;
    list-style-type: none;
    justify-content: space-around;
    margin: 20px auto;
    padding: 0;
    align-items: center;
}

.shadow_item, .cap_item {
    display: flex;
}

.start_item {
    display: none;
}

.first_column{
    width: 70%;
    margin: 0 5px;
}

.first_column_base {
    border: 1px dashed rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    margin: 0 5px;
    width: 70%;
    align-items: center;
}

.second_column_base {
    border: 1px dashed rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    margin: 0;
    width: 30%;
    align-items: center;
}

.second_column {
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.shadow_item_first, .shadow_item_start{
    width: 505px;
    background: rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.shadow_item_start {
    height: 20px;
}

.shadow_item_second {
    display: none;
}

.shadow_item_second_start {
    display: none;
}

.shadow_case_close {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    margin: 0;
    vertical-align: middle;
    border: 0;
}

.shadow_case_close:hover {
    background: rgba(0, 0, 0, 0.4);
}

.shadow_case_close:active {
    background: rgba(0, 0, 0, 0.6);
}

label::before {
    content: '';
    display: inline-block;
    height: 30px;
    width: 30px;
    background: rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    margin: 0 auto;
    vertical-align: middle;
}

.shadow_item_second:checked + label::before{
    background:rgba(41, 41, 41, 0.2);
    content: '\2713';
    font-size: 20px;
    color: rgb(0, 255, 0);
}

.button_style {
    height: 50px;
    width: 50px;
    background: rgba(0, 0, 0, 0.33);
    border-radius: 25px;
    padding: 0;
    border: 0;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
}

.button_style:hover {
    background: rgba(0, 0, 0, 0.4);
}

.button_style:active {
    background: rgba(0, 0, 0, 0.6);
}


/* Стили для модального окна*/

.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
}

.modalError-overlay {
    position: fixed;
    top: 300px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
}

.modal-window, .modalError-window  {
    width: 600px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.6);
    margin: 100px auto;
    color:white;
}

.modal-header, .modalError-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center
}

.modal-header-titel, .modalError-header-titel {
    margin: 0 auto;
    font-size: 20px;
    transform: translatex(10px);    
}
.modal-header-close, .modalError-header-close {
    margin: 5px 0;
    font-size: 20px;
    cursor: pointer;
    max-width: 20px;
    max-height: 20px;
    transform: translatey(-25%);
}

.modal-header-close:hover {
    color: rgb(255, 249, 200);
}

.modal-header-close:active {
    color: rgb(250, 231, 144);
}

.modal-base {
    padding: 0 20px;
}

.modal-base-name textarea, .modal-base-text textarea{
    border-width: 0;
    font-size: 16px;
    padding: 0;
    width: 550px;
    background: rgba(255, 255, 255);
    margin: 5px auto;
    border-radius: 5px;
    outline: none;
    color: rgba(118, 118, 118);
    font-family: 'Roboto';
    resize: none;
    padding: 5px;
}

.modal-base-name textarea::placeholder {
    color: var(--c, rgba(118, 118, 118));
}
.modal-base-text textarea::placeholder {
    color: var(--c, rgba(118, 118, 118));
}

.modal-base-name textarea{
    height: 20px;
}

.modal-base-text textarea{
    height: 20px;
}

.modal-action {
    padding: 10px 20px;
}

.modal-action button{
    height: 30px;
    border-width: 0;
    font-size: 16px;
    text-align: center;
    background: rgba(255, 255, 255);
    margin: 0 auto;
    border-radius: 5px;
    padding: 0px 7px;
    color: rgba(118, 118, 118)
}

.modal-action button:hover {
    background: rgb(255, 249, 200);
}

.modal-action button:active {
    background: rgb(250, 231, 144);
}

.case-name-p, .case-contant-p {
    border-width: 0;
    width: 495px;
    height: 20px;
    font-size: 16px;
    font-family: 'Roboto';
    padding: 0;
    background: rgba(255, 255, 255);
    border-radius: 5px;
    color: rgba(118, 118, 118);
    resize: none;
    padding: 5px;
    outline: none;
    margin: 0;
    overflow-wrap:break-word;
    text-align: left;
    white-space: pre-line;
}

.case-contant-p {
    margin: 5px 0 0 0;
}

textarea::-webkit-scrollbar {
    width: 0px;
}