@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
    font-family: 'Roboto';
    text-align: center; 
    background: linear-gradient(115deg, rgb(200, 255, 98) -20%, rgb(255, 226, 96) 50%);
    margin: 0;
}

.header {
    max-width: 750px;
    margin: 20px auto;
    font-weight:700;
    font-size: 24px;
}

.shadow_item, .cap_item{
    max-width: 750px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 20px auto;
    padding: 0;
    align-items: center;
}

.first_column{
    width: 80%;
    margin: 0 5px;
}

.first_column_base {
    border: 1px dashed rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    margin: 0 5px;
    width: 80%;
}

.second_column_base {
    border: 1px dashed rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    margin: 0;
    width: 20%
}

.second_column {
    width: 20%;
    margin: 0 auto;
}

.shadow_item_first{
    height: 50px;
    width: 98%;
    background: rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    margin: 0 auto;
}


.shadow_item_second {
    display: none;
}

label::before {
    content: '';
    display: inline-block;
    height: 30px;
    width: 30px;
    background: rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    margin: 0 auto;
    vertical-align: middle;
}

.shadow_item_second:checked + label::before{
    background:rgba(41, 41, 41, 0.2);
    content: '\2713';
    font-size: 20px;
    color: rgb(0, 255, 0);
}

.button_style {
    height: 50px;
    width: 50px;
    background: rgba(0, 0, 0, 0.33);
    border-radius: 25px;
    padding: 0;
    border: 0;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
}

.button_style:hover {
    background: rgba(0, 0, 0, 0.4);
}

.button_style:active {
    background: rgba(0, 0, 0, 0.6);
}


/* Стили для модального окна*/

.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
}

.modal-window {
    width: 600px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.6);
    margin: 100px auto;
    color:white;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.modal-header-titel {
    margin: 0 auto;
}
.modal-header-close {
    margin: 0;
    font-size: 36px;
    cursor: pointer;
}

.modal-base {
    padding: 10px 20px;
}

.modal-base-name {
    background: rgba(255, 255, 255);
    border-width: 0;
    margin: 5px auto;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

.modal-base-name input{
    border-width: 0;
    font-size: 16px;
    text-align: center;
}

.modal-base-text {
    height: 30px;
    background: rgba(255, 255, 255);
    border-width: 0;
    margin: 5px auto;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

.modal-base-text input{
    border-width: 0;
    text-align: center;
    font-size: 16px;
    width: 100%;
    padding: 0;
}

.modal-action {
    padding: 10px 20px;
}